<% provide(:title, @user.name) %>
<%= form_with(model: @user, url: attendances_update_one_month_user_path(date: @first_day), local: true, method: :patch) do |f| %>
 <div>
  <h1 class="text-center">勤怠編集画面</h1>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th class="text-center">日付</th>
        <th class="text-center">曜日</th>
        <th class="text-center">出勤時間</th>
        <th class="text-center">退勤時間</th>
        <th class="text-center">在社時間</th>
        <th class="text-center">備考</th>
      </tr>
    </thead>
    <tbody>
      <% @attendances.each do |day| %>
        <%= f.fields_for "attendances[]", day do |attendance| %>
          <tr>
            <td class="text-center"><%= l(day.worked_on, format: :short) %></td>
            <td class="text-center"><%= $days_of_the_week[day.worked_on.wday] %></td>
            <% if !current_user.admin? && (Date.current < day.worked_on) %>
              <td><%= attendance.time_field :started_at, readonly: true, class: "form-control text-center" %></td>
              <td><%= attendance.time_field :finished_at, readonly: true, class: "form-control text-center" %></td>
            <% else %>
              <td><%= attendance.time_field :started_at, class: "form-control text-center" %></td>
              <td><%= attendance.time_field :finished_at, class: "form-control text-center" %></td>
            <% end %>
            <td class="text-center">
              <% if day.started_at.present? && day.finished_at.present? %>
                <%= working_times(day.started_at, day.finished_at) %>
              <% end %>
            </td>
            <td><%= attendance.text_field :note, class: "form-control text-center" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
 </div>

 <div class="center">
  <%= f.submit "まとめて更新", class: "btn btn-lg btn-primary" %>
  <%= link_to "キャンセル", user_path(date: @first_day), class: "btn btn-lg btn-default" %>
 </div>
<% end %>